@font-face {
    font-family: 'Caviar';
    src: url("../fonts/Caviar/CaviarDreams.ttf");
}

.page {
    height: 92%;
    margin: 0;
    padding: 0;
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Caviar', serif;
}

.welcome {
    text-align: center;
    color: #ffd659;
    font-family: 'Caviar', bold;
    margin: 3% 10%;
    font-size: 600%;
    background-color: rgba(120, 120, 120, 0.9);
    border-radius: 60px;
}

.message {
    text-align: center;
    background-color: rgba(120, 120, 120, 0.9);
}

.wrapper_form {
    width: 23%;
    height: 300px;
    background-color: rgba(120, 120, 120, 0.9);
    text-align: center;
    border-radius: 8px;
    padding-top: 30px;
    box-sizing: border-box;
    margin: 3% auto;
}

.log_input {
    display: block;
    border: 1px solid #000;
    width: 80%;
    margin: 0 auto;
    padding: 5% 2% 2% 2%;
    border-radius: 5px;
}

.log_button {
    display: block;
    width: 80%;
    margin: 1% auto 0;
    background-color: #5bc8bf;
    padding: 10px 0 10px 0;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #38a59c;
    font-weight: bold;
    color: #fff;
    font-family: 'Caviar', serif;
}

.log_button:hover {
    background-color: #4e9690;
}

.reg_form {
    background-color: rgba(120, 120, 120, 0.9);
    width: 250px;
    border-radius: 8px;
    margin: 0 auto;
    padding: 10px;
}

.reg_form input {
    border-radius: 5px;
    padding: 3px 0 3px 0;
    border: none;
    width: 100%;
}

.valid {
    background-color: rgb(138, 219, 219);
}

.notValid {
    background-color: #eca9bb;
}

.reg_form span {
    display: block;
    text-align: center;
}

.reg_form .reg_submit {
    display: block;
    width: 100%;
    margin: 0 auto;
    color: #de81df;
    background-color: #fff;
    padding: 10px;
}

.reg_form .active:hover {
    background-color: rgb(138, 219, 219);
    cursor: pointer;
    color: #fff;
}

.table table {
    border-radius: 8px;
    width: 98%;
    font-size: 16px;
    color: white;
    background-color: rgba(120, 120, 120, 0.9);
    margin: 0 auto 30px;
}

.table table th, .table table td {
    padding: 10px 20px 10px 20px;
    text-align: left;
}

.table table td a {
    text-decoration: none;
    color: #fff;
}

.table table td a:hover {
    color: #de81df;
}

.create_application_confirm {
    margin-top: 1%;
    font-family: 'Caviar', serif;
    font-size: 20px;
    border-radius: 5px;
    border-color: rgba(120, 120, 120, 0.6);
    background-color: rgba(120, 120, 120, 0.6);
}

.create_exercise textarea {
    font-family: 'Caviar', serif;
    outline: none;
    color: white;
    border-radius: 8px;
    width: 500px;
    height: 300px;
    resize: none;
    background-color: rgba(120, 120, 120, 0.9);
}

.create_application_name {
    width: 25%;
    font-family: 'Caviar', serif;
    border-radius: 10px;
    font-size: 15px;
}

.collapsible {
    color: rgb(223, 208, 91);
    cursor: pointer;
    text-decoration: underline;
}

.active, .collapsible:hover {
    color: #de81df;
}

.content {
    display: none;
    overflow: hidden;
}

.error_form {
    background-color: rgba(120, 120, 120, 0.9);
    padding: 1%;
    margin: 1% 10%;
    text-align: center;
    border-radius: 10px;
}

.create_application_form {
    background-color: rgba(120, 120, 120, 0.9);
    padding: 1%;
    margin: 1% 10%;
    text-align: center;
    border-radius: 10px;
}

.create_application_ball {
    width: 7%;
    font-family: 'Caviar', serif;
    border-radius: 10px;
    font-size: 15px;
    margin-right: 3%;
}
}
